/* guides.css */

.accordion-sm {
    font-size: 0.9rem;
}

.accordion-body {
    background-color: var(--input-background);
    color: var(--input-text-color);
}

.accordion-sm .accordion-button {
    background-color: var(--input-background);
    color: var(--input-text-color);
    padding: 0.5rem 0.75rem;
    font-size: 0.95rem;
}

.accordion-sm .accordion-body, .accordion-header, .accordion-button {
    background-color: var(--input-background);
    color: var(--input-text-color);
    padding: 0.75rem;
}

.accordion-button::after {
    color: var(--input-text-color);
}


.code-block-container {
    background-color: var(--input-background);
    color: var(--input-text-color);
    position: relative;
    margin-bottom: 1rem;
}

.code-block-container pre {
    background-color: var(--input-background);
    color: var(--input-text-color);
    border: 1px solid var(--border-color);
    border-radius: 4px;
    padding: 0.5rem;
    font-size: 0.8rem;
    
}
li {
    padding: .25rem;
    padding-left: .5rem;
}
.copy-btn {
    position: absolute;
    top: 0.25rem;
    right: 0.25rem;
    padding: 0.1rem 0.3rem;
    font-size: 0.7rem;
}