{% extends "base.html" %}
{% block content %}

<div class="mb-4">
    <label for="tokenSelect" class="form-label">Select Access Token:</label>
    <select id="tokenSelect" class="form-select">
        <option value="">Choose a token</option>
        {% for token in access_tokens %}
            <option value="{{ token.id }}">{{ token.id }} - {{ token.audience }} - {{ token.email }}</option>
        {% endfor %}
    </select>
</div>

<div id="tokenScp" class="mb-3 mt-2 p-2 border rounded" style="display: none;">
    <strong>Token Permissions:</strong>
    <div id="tokenScpContent" style="word-wrap: break-word;"></div>
</div>

<div id="actionButtonsContainer">
    <h4>Select Endpoints to Enumerate:</h4>
    <div class="global-action-buttons">
        <button id="selectAllActions" class="btn btn-secondary">Select All</button>
        <button id="deselectAllActions" class="btn btn-secondary">Deselect All</button>
        <button id="executeSelected" class="btn btn-primary">Enumerate</button>
    </div>
    <div class="action-buttons-container">
        <div id="actionButtons">
            <!-- Action buttons will be inserted here by the JavaScript -->
        </div>
    </div>
</div>

<div id="results" class="mt-4">
    <!-- Results will be dynamically inserted here -->
</div>

{% endblock %}

{% block extra_css %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/db_analyzer.css') }}">


{% endblock %}

{% block scripts %}
<script src="{{ url_for('static', filename='js/db_analyzer.js') }}"></script>
{% endblock %}